<section class="bg-gray-50 border rounded p-4 shadow w-[75%] mx-auto dark:bg-gray-800 dark:border-gray-700">
  <h1 class="text-center text-green-600 text-3xl dark:text-green-400">My Wish List</h1>
  @for (item of wishdata; track $index) {
  <div class="grid md:grid-cols-[10%,minmax(0,1fr)] gap-4">
    <div>
      <img [src]="item.imageCover" class="w-full h-[100px] mt-2 object-contain dark:brightness-75" alt="" />
    </div>
    <div class="flex justify-between items-center">
      <div>
        <h3 class="dark:text-gray-300">{{ item.title.split(' ').slice(0, 2).join(' ') }}</h3>
        <h4 class="text-green-500 dark:text-green-400">{{item.price}} EGP</h4>
        <button (click)="removeitemwish(item.id)" class="text-red-600 dark:text-red-500">
          <i class="fas fa-trash-can"></i> Remove
        </button>
      </div>
      <div>
        <button (click)="addcart(item.id)"
          class="border-green-500 hover:bg-green-600 hover:text-white py-2 px-2 border rounded w-full block transition duration-500 ease-in-out transform hover:scale-105 dark:border-green-600 dark:hover:bg-green-700">
          Add To Cart
        </button>
      </div>
    </div>
  </div>
  }
</section>