<section class="p-4 dark:bg-gray-800">
    <h1 class="text-center text-green-600 text-2xl my-4 dark:text-green-400">Forgot Password</h1>
    @if (step==1) {
        <form [formGroup]="verifyEmailForm" (ngSubmit)="verifyEmailSubmit()" class="bg-green-100 rounded-lg shadow-md p-6 dark:bg-gray-700">
            <div class="mb-1">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    {{'login.email' | translate}}
                </label>
                <input formControlName="email" type="email" id="email"
                    class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
    
            @if (verifyEmailForm.get('email')?.errors && verifyEmailForm.get('email')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-600 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if (verifyEmailForm.get('email')?.getError('required')) {
                        <li>Email is required</li>
                        }
                        @else if (verifyEmailForm.get('email')?.getError('email')) {
                        <li>Enter a valid email</li>
                        }
                    </ul>
                </div>
            </div>
            }
    
            <button [disabled]="verifyEmailForm.invalid"
                class="bg-green-600 disabled:bg-gray-800 text-white py-2 px-4 rounded-md dark:bg-green-700 dark:hover:bg-green-600">
                Verify Email
            </button>
        </form>

    }
    @else if (step==2) {
        <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCodeSubmit()" class="bg-green-100 rounded-lg shadow-md p-6 dark:bg-gray-700">
            <div class="mb-1">
                <label for="resetCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Reset Code</label>
                <input formControlName="resetCode" type="text" id="resetCode"
                    class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <button [disabled]="verifyCodeForm.invalid"
                class="bg-green-600 disabled:bg-gray-800 text-white py-2 px-4 rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 dark:bg-green-700 dark:hover:bg-green-600">
                Verify code
            </button>
    
        </form>
    }
    

    @else if (step==3) {
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()" class="bg-green-100 rounded-lg shadow-md p-6 dark:bg-gray-700">
            <div class="mb-1">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    {{'login.email' | translate}}
                </label>
                <input formControlName="email" type="email" id="email"
                    class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
    
            @if (resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-600 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if (resetPasswordForm.get('email')?.getError('required')) {
                        <li>Email is required</li>
                        }
                        @else if (resetPasswordForm.get('email')?.getError('email')) {
                        <li>Enter a valid email</li>
                        }
                    </ul>
                </div>
            </div>
            }
            <div class="mb-1">
                <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
                <input formControlName="newPassword" type="password" id="newPassword"
                    class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            @if (resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched ) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-600 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if (resetPasswordForm.get('newPassword')?.getError('required')) {
                        <li>Password is required</li>
                        }
                        @else if (resetPasswordForm.get('newPassword')?.getError('pattern')) {
                        <li>Enter a valid password</li>
                        }
    
                    </ul>
                </div>
            </div>
            }
    
            <button [disabled]="resetPasswordForm.invalid"
                class="bg-green-600 disabled:bg-gray-800 text-white py-2 px-4 rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 dark:bg-green-700 dark:hover:bg-green-600">
                Reset Password
            </button>
        </form>
    }
</section>